<div class="col-md-8 col-md-offset-2">
  <div class="text-center">
    <img src="https://scontent.fbkk12-2.fna.fbcdn.net/v/t1.0-1/p160x160/40581196_953738831465566_1604350257070604288_n.jpg?_nc_cat=0&oh=87344a91c49c5c87e09842ab7b2590fe&oe=5C33DCF2" name="aboutme"
      width="140" height="140" class="img-circle">
    <h3 class="media-heading"> {{ name }} <small></small></h3>
    <span><strong>Skills: </strong></span>
    <span class="label label-warning">HTML5/CSS</span>
    <span class="label label-info">Adobe CS 5.5</span>
    <span class="label label-info">Microsoft Office</span>
    <span class="label label-success">Windows XP, Vista, 7</span>
  </div>
  <hr>
  <div>
    <p class="text-left"><strong>Bio: </strong><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sem dui,
      tempor sit amet commodo a, vulputate vel tellus.
    </p>
    <br>
  </div>
</div>
