<div class="col-md-8 col-md-offset-2">
  <div class="text-center">
    <img src="https://pbs.twimg.com/media/BpOL_6FCUAAoTwh.jpg"
      name="aboutme" width="200" height="200" class="img-circle">
    <h3 class="media-heading"> {{ name }} <small></small></h3>
    <h4>
    <span><strong>Skills: </strong></span>
    <span class="label label-warning">HTML/CSS</span>
    <span class="label label-info">Adobe </span>
    <span class="label label-warning">Microsoft Office</span>
    <span class="label label-success">Windows XP, 7, 10</span>
  </h4>
  </div>
  <hr>
  <div>
    <h3>
      <p class="text-left">
        <strong class=""> คติ: </strong>
        <!-- <span class=""><font size="5"><b> คติ: </b></font></span> -->
        <span class="label label-success">•พรุ่งนี้..ไม่มีอยู่จริง.</span></p>
    </h3>
  </div>
  <hr>
  <div>
    <div class="col">
      <img src="https://image.makewebeasy.net/makeweb/0/7zapn1NU1/DefaultData/map_ais.jpg" name="aboutme" width="700" height="400"
        class="img">
      <h3>
        <span><strong>Tel: </strong></span>
        <span class="label label-warning">089 499 8625</span>
      </h3>
    </div>
    <hr>
    <div>
      <p class="text-left"><strong>Address: </strong><br> 11293/9 อาคาร ESV ซอย พหลโยธิน ซอย พหลโยธิน แขวง สามเสนใน เขต พญาไท
        กรุงเทพมหานคร 10400
      </p>
      <br>
    </div>
  </div>
</div>