<div class="col-md-8 col-md-offset-2">
  <div class="text-center">
    <img src="https://image.makewebeasy.net/makeweb/0/7zapn1NU1/DefaultData/map_ais.jpg" name="aboutme" width="700" height="400"
      class="img">
    <h3>
      <span><strong>Tel: </strong></span>
      <span class="label label-warning">089 499 8625</span>
    </h3>
  </div>
  <hr>
  <div>
    <p class="text-left"><strong>Address: </strong><br> 11293/9 อาคาร ESV ซอย พหลโยธิน ซอย พหลโยธิน แขวง สามเสนใน เขต พญาไท
      กรุงเทพมหานคร 10400
    </p>
    <br>
  </div>
</div>