<div class="container">
  <div class="row">
    <div class="col-md-12">

      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/" >{{ title }}</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a routerLink="/about/">About</a></li>
            <li><a routerLink="/about/contact">Contact</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Select <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="/" [queryParams]="{category: 'หมวก'}">หมวก</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'เสื้อ'}">เสื้อ</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'กางเกง'}">กางเกง</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'รองเท้า'}">รองเท้า</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'ถุงเท้า'}">ถุงเท้า</a></li>
                <li><a routerLink="/" [queryParams]="{category: 'กระเป๋า'}">กระเป๋า</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/cart"><span id="itemCout" class="glyphicon glyphicon-shopping-cart" appBgColor="green"  style="font-size:20px"></span></a></li>

          </ul>
        </div>
      </nav>
      <router-outlet></router-outlet>

    </div>