<router-outlet></router-outlet>
<div class="row" *ngIf="!toogleCart">
    <div class=" col-xs-4 col-sm-3 col-lg-2" *ngFor="let item of listItem">
      <div class="panelList">
        <img height="150" src="{{ item.imageUrl }}" alt="">
        <h2>{{ item.title | title: 'Name' }}</h2>
        <h4>{{ item.price | currency: 'THB': 'symbol-narrow' | title: 'Price' }} </h4>
        <h4>{{ item.detail }} </h4>
        <button (click)="addToCart(item)" class="glyphicon glyphicon-shopping-cart" style="font-size:25px" ></button>
        
      </div>
    </div>
  </div>